.homepage-tab-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;

  .left-side {
    border-radius: 10px;
    padding: 10px 15px;
    border: 2px solid #00abc5;
  }

  .right-side {
    padding: 0 15px;

    .tab-navigator {
      border-bottom: 1px solid #e8e8e8;

      & > div {
        margin: 0 20px;
        cursor: pointer;
        color: #888585;
        padding-bottom: 7px;
        font-size: 0.9rem;
      }

      .active-tab {
        border-bottom: 2px solid #00abc5;
        color: #00abc5;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .homepage-tab-content-wrapper {
    .righ-side-tab-featured {
      grid-template-columns: repeat(3, 1fr) !important;
    }
    .left-side {
      height: fit-content !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .homepage-tab-content-wrapper {
    grid-template-columns: 1fr !important;

    .righ-side-tab-featured {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }
}
