.homepage-carousel-wrapper {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;

  .awssld {
    max-height: 500px !important;
    overflow: hidden !important;

    .awssld__bullets {
      bottom: 0 !important;
      background-color: transparent !important;
    }

    .awssld__controls__arrow-left,
    .awssld__controls__arrow-right {
      overflow: hidden !important;
      width: 35% !important;
      height: 20px !important;
    }

    .awssld__prev,
    .awssld__next {
      position: absolute !important;
      top: 20% !important;
    }

    .awssld__bullets button {
      width: 8px !important;
      height: 8px !important;
      border-radius: 50%;
    }

    .awssld__bullets .awssld__bullets--active {
      transform: scale(1.7) !important;
      background: #00abc5 !important;
      margin: 0 10px !important;
      width: 20px !important;
      border-radius: 2px !important;
      height: 4px !important;
    }

    .awssld__content {
      background-color: transparent !important;
    }
  }

  .item-wrapper {
    position: absolute !important;
    top: 10% !important;
    right: 15% !important;
    transform: translate(0%, -10%) !important;
    display: flex !important;
    justify-content: space-between;
    width: 55% !important;

    img {
      width: 350px !important;
      height: auto !important;
    }

    .slide-1-caption {
      display: flex;
      flex-direction: column;

      .text-1 {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 300;
        line-height: 40px;
        margin-bottom: 10px;
      }

      .text-2 {
        font-weight: 600;
      }

      .start-buying {
        width: fit-content;
        margin-top: 35px;
        background-color: #00abc5;
        color: #fff;
        padding: 10px 40px;
        border-radius: 11px;
        text-transform: capitalize;
        font-size: 0.9rem;
      }

      .cation {
        color: #333e48;
        font-size: 57px;
        animation-name: fadeIn;
        animation-delay: 3s;
        margin-top: 15px;

        p {
          font-weight: 600;
        }

        .title-price {
          display: block;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 1.3;
          font-weight: 600;
        }

        .small-size {
          vertical-align: top;
          font-size: 38px;
          display: inline-block;
          margin-top: -5px;
        }
      }
    }
  }
}
