.homepage-categories-tabs-wrapper {
  // border: 1px solid red;
  .tab-navigator {
    border-bottom: 1px solid #dddddd;
    justify-content: center;
    margin-bottom: 20px;

    .tab-item {
      margin: 0 20px;
      cursor: pointer;
      padding: 3px 30px;
      border-radius: 20px;
      color: #333e48;
      font-size: 0.9rem;
      border: 2px solid #fff;
      transition: 0.3s ease-in-out;

      &:hover {
        border-color: #00abc5 !important;
      }
    }

    .active-tab {
      border: 2px solid #00abc5;
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // border: 1px solid red;

    .content-item {
      display: flex;
      flex-direction: column;
      // align-items: center;
    }

    .left-side-wrapper,
    .right-side-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2px;
    }
  }
}

@media screen and (max-width: 768px) {
  .homepage-categories-tabs-wrapper {
    .content {
      grid-template-columns: 1fr !important;

      .right-side-wrapper,
      .left-side-wrapper {
        grid-template-columns: repeat(4, 1fr) !important;
      }
    }
  }
}

@media screen and (max-width: 552px) {
  .homepage-categories-tabs-wrapper {
    .content {
      .right-side-wrapper,
      .left-side-wrapper {
        grid-template-columns: repeat(2, 1fr) !important;
      }
    }
    .tab-navigator {
      justify-content: space-between !important;

      .tab-item {
        margin: 0 0 !important;
        padding: 3px 20px !important;
        font-size: 0.6rem !important;
      }
    }
  }
}
