.categories-page-left-wrapper {
  border: 2px solid #ddd;
  border-radius: 3px;
  padding: 10px 15px;

  .title {
    font-size: 1.2rem;
    color: #636363;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .list-item {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 0.8rem;
    color: #6b6969;
    border-bottom: 1px solid #ddd;
    display: block;

    button {
      all: unset;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.8rem;
      cursor: pointer;
      color: #6b6969;
    }

    li {
      font-size: 0.8rem;
      margin-bottom: 8px;

      a {
        color: #6b6969;
      }
    }

    .card-body {
      padding: 10px !important;
    }
  }

  .ad-wrapper {
    border: 1px solid red;
  }
}

@import "~react-image-gallery/styles/scss/image-gallery.scss";

.middle-image-gallery-wrapper {
  .category {
    color: gray;
    font-size: 0.7rem;
    text-align: center;
  }
  .product-name {
    text-transform: capitalize;
    font-size: 0.8rem;
    font-weight: 600;
    color: #00abc5;
    margin: 10px 0;
    text-align: center;
  }
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus {
  border: 1px solid #ddd !important;
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  padding: 0 !important;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 38px;
  width: 20px;
}

.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
  height: 20px !important;
  width: 20px !important;
}

.image-gallery-icon {
  color: #26b8ce !important;
}
