@import "~react-image-gallery/styles/scss/image-gallery.scss";

.middle-image-gallery-wrapper {
  .category {
    color: gray;
    font-size: 0.7rem;
    text-align: center;
  }
  .product-name {
    text-transform: capitalize;
    font-size: 0.8rem;
    font-weight: 600;
    color: #00abc5;
    margin: 10px 0;
    text-align: center;
  }

  .image-gallery-thumbnail.active,
  .image-gallery-thumbnail:hover,
  .image-gallery-thumbnail:focus {
    border: 1px solid #ddd !important;
  }

  .image-gallery-thumbnails .image-gallery-thumbnails-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .image-gallery-left-nav,
  .image-gallery-right-nav {
    padding: 0 !important;
  }

  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 38px;
    width: 20px;
  }

  .image-gallery-fullscreen-button .image-gallery-svg,
  .image-gallery-play-button .image-gallery-svg {
    height: 20px !important;
    width: 20px !important;
  }

  .image-gallery-icon {
    color: #26b8ce !important;
  }
}
