// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  // height: 5000px;
}

:root {
  font-size: 16px;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

p {
  margin-bottom: 0 !important;
}

// Files
@import './variables.scss';
@import './classes.scss';
@import './loops.scss';

// Custom classes
.main-color {
  color: #00abc5;
}

.active-link {
  color: #00abc5 !important;
}
