// App Colors
$green: #a3d133;
$purple: #ce1d76;
$dark: #000;
$brown: #dab26d;
$yellow: #fed700;
$blue: #0787ea;
$red: #f30b0b;
$lightOrange: #f89a20;
$grayText: #565656;

// App Breakpoints
$breakpoint-sm: 551px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1500px;
