// Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  // height: 5000px;
  overflow-x: hidden;
}

:root {
  font-size: 16px;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

p {
  margin-bottom: 0 !important;
}

.shop-and-save {
  display: none !important;
}

// Files
@import "./variables.scss";
@import "./classes.scss";
@import "./loops.scss";

// Custom classes
.main-color {
  color: #00abc5;
}

.active-link {
  color: #00abc5 !important;
}

/*
  ===================================================== 
  ============== Tiny Proeduct Component ============== 
  ===================================================== 
*/
.tiny-product-wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  position: relative;
  overflow: hidden;

  &:hover {
    .options {
      bottom: 5px;
    }
  }

  .category {
    color: gray;
    font-size: 0.7rem;
  }
  .product-name {
    text-transform: capitalize;
    font-size: 0.8rem;
    font-weight: 600;
    color: #00abc5;
    margin: 10px 0;
  }

  .img-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

    img {
      width: 85%;
      height: auto;
    }
  }

  .price {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .new {
      margin-right: 10px;
      font-size: 0.9rem;
      color: #f23b3b;
      font-weight: 600;
    }

    del {
      color: #a6a6a6;
      font-size: 0.7rem;
    }
  }

  .options {
    width: 100%;
    justify-content: space-around;
    position: absolute;
    bottom: -100px;
    transition: bottom 0.4s ease-in-out;

    svg,
    span {
      color: #878787;
      font-size: 0.8rem;
    }

    svg {
      margin: 3px 4px 0 0;
    }

    .view,
    .wishlist {
      cursor: pointer;

      &:hover {
        svg,
        span {
          color: #00abc5;
        }
      }
    }
  }
}

/*
  ===================================================== 
  =========== Align Tiny Proeduct Component ===========
  ===================================================== 
*/

.align-tiny-product-wrapper {
  background-color: #fff;
  justify-content: space-around;
  padding: 20px 0;

  .img-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

    img {
      width: 90px !important;
      height: 80px !important;
    }
  }

  .content {
    position: relative;

    .category {
      color: gray;
      font-size: 0.7rem;
    }
    .product-name {
      text-transform: capitalize;
      font-size: 0.8rem;
      font-weight: 600;
      color: #00abc5;
      margin: 5px 0;
    }

    .price {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;

      .new {
        margin-right: 10px;
        font-size: 0.9rem;
        color: #f23b3b;
        font-weight: 600;
      }

      del {
        color: #a6a6a6;
        font-size: 0.7rem;
      }
    }
  }
}

/*
  ====================================================
  ================ User Register Form ================
  ====================================================
*/
.signup-form-wrapper {
  margin-top: 50px;
  width: 65%;
  margin: 50px auto 0 auto;
  max-width: 500px;

  .title {
    border-bottom: 2px solid #00abc5;
    width: fit-content;
    padding-bottom: 3px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 500;
  }

  form {
    display: flex;
    flex-direction: column;
    background-color: #fff;

    label {
      color: #585858;
      font-size: 0.8rem;
      font-weight: 600;
      margin-bottom: 7px;
    }

    input {
      all: unset;
      padding: 10px 15px;
      border-radius: 25px;
      font-size: 0.8rem;
      margin-bottom: 20px;
      color: #797979;
    }

    .cutom-button {
      all: unset;
      background-color: #00abc5;
      color: #fff;
      border-radius: 25px;
      width: fit-content;
      padding: 10px 50px;
      cursor: pointer;
      font-weight: 700;
    }
  }

  .have-already-account {
    margin-top: 20px;
    font-size: 1rem;

    a {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .signup-form-wrapper,
  .login-form-wrapper {
    width: 95% !important;
  }
}

/*
  ===================================================
  ================= User Login Form =================
  ===================================================
*/

.login-form-wrapper {
  margin-top: 50px;
  width: 65%;
  margin: 50px auto 0 auto;
  max-width: 500px;

  .title {
    border-bottom: 2px solid #00abc5;
    width: fit-content;
    padding-bottom: 3px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 500;
  }

  form {
    display: flex;
    flex-direction: column;
    background-color: #fff;

    label {
      color: #585858;
      font-size: 0.8rem;
      font-weight: 600;
      margin-bottom: 7px;
    }

    input {
      all: unset;
      padding: 10px 15px;
      border-radius: 25px;
      font-size: 0.8rem;
      margin-bottom: 20px;
      color: #797979;
    }

    .cutom-button {
      all: unset;
      background-color: #00abc5;
      color: #fff;
      border-radius: 25px;
      width: fit-content;
      padding: 10px 50px;
      cursor: pointer;
      font-weight: 700;
      margin-top: 15px;
    }
  }

  .not-have-already-account {
    margin-top: 20px;
    font-size: 1rem;

    a {
      margin-left: 10px;
    }
  }
}
